@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-heebo: "Heebo", sans-serif;
  --color-brand: #2e82c8;
  --color-brand2: #6a717d;
}

@custom-variant dark (&:where(.dark, .dark *));